
<div class="layout">
  <nav class="sidebar-glass">
    <div class="sidebar-title">MODEL SEGURITY</div>
    <div class="user-info">
    <span class="role-indicator"></span>
    <span class="role-text">{{ userRole }}</span>
  </div>
     <div class="username">👨‍💻 {{ username }}</div>
    <ul>
      <li><a routerLink="Pizzas" routerLinkActive="active">📝 Pizzas</a></li>
      <li><a routerLink="Ordenes" routerLinkActive="active">📝 Ordenes</a></li>


      <li><a routerLink="Formularios" routerLinkActive="active">📝 Forms</a></li>
      <!-- <li><a routerLink="Citas" routerLinkActive="active">📝 Citas</a></li> -->
      <!-- <li><a routerLink="Permissions" routerLinkActive="active">🔒 Permissions</a></li> -->
      <!-- <li><a routerLink="Roles" routerLinkActive="active">🎭 Roles</a></li> -->
      <!-- <li><a routerLink="Persons" routerLinkActive="active">👤 Persons</a></li> -->
      <li><a routerLink="Users" routerLinkActive="active">🧑‍💻 Users</a></li>
      <!-- <li><a routerLink="RolUser" routerLinkActive="active">👥 RolUser</a></li> -->
      <!-- <li><a routerLink="RolFormPermission" routerLinkActive="active">📜 RolFormPermission</a></li> -->
    </ul>
    <button (click)="logout()" class="btn-logout">🔓 Logout</button>

  </nav>

  <main class="main-content">
    <router-outlet></router-outlet>
  </main>
</div>



