

 body, html {
  height: 100%;
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-color: #f8fafc;
}

.form-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  margin-right: 100px;
}

.login-form {
  background-color: #ffffff;
  padding: 2.5rem 2rem;
  border-radius: 20px;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.08);
  width: 100%;
  max-width: 400px;
  border: 1px solid #e2e8f0;
  text-align: center;
}

.form-title {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 2rem;
  color: #1e293b;
}

.form-group {
  margin-bottom: 1.5rem;
  text-align: left;
}

.form-group label {
  display: block;
  margin-bottom: 0.5rem;
  font-size: 0.95rem;
  color: #475569;
  font-weight: 500;
}

.input-field {
  width: 90%;
  padding: 0.8rem 1rem;
  border: 1px solid #cbd5e1;
  border-radius: 12px;
  background-color: #f1f5f9;
  font-size: 1rem;
  transition: all 0.3s ease;
}

.input-field:focus {
  background-color: #ffffff;
  border-color: #6366f1;
  box-shadow: 0 0 0 4px rgba(99, 102, 241, 0.2);
  outline: none;
}

.btn-submit {
  margin-top: 1rem;
  width: 100%;
  padding: 0.85rem;
  font-size: 1.1rem;
  font-weight: 600;
  color: #ffffff;
  background: linear-gradient(90deg, #6366f1, #7c3aed);
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.btn-submit:hover {
  background: linear-gradient(90deg, #7c3aed, #6366f1);
}



.btn-cancelar {
  margin-top: 1rem;
  background-color: transparent;
  border: 1px solid #007bff;
  color: #007bff;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 5px;
}


.btn-crear-cuenta{
  margin-top: 1rem;
  background-color: transparent;
  border: 1px solid #007bff;
  color: #007bff;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 5px;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

.btn-crear-cuenta:hover,
.btn-cancelar:hover {
  background-color: #007bff;
  color: white;
}

#googleSignInDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}