<div class="container">
    <h2>Gestion de Rol-Usuarios</h2>
  
    <!-- Botones -->
    <button (click)="toggleForm()" class="btn-toggle" [disabled]="isLoading">
      {{ showForm ? 'Cancelar' : 'Crear Rol-User' }}
    </button>
  
    <!-- Indicador de carga -->
    <div *ngIf="isLoading" class="loading-indicator">Cargando...</div>
  
    <!-- Formulario para crear o editar cliente -->
    <div *ngIf="showForm" class="form-container">
      <form [formGroup]="RolUserForm" (ngSubmit)="editIndex === null ? submitForm() : updateHotel()">
        
        <input formControlName="id" type="hidden">

        <label for="rolid">Rol:</label>
        <select id="rolid" formControlName="rolid" class="form-input">
          <option [ngValue]="null" disabled selected>Seleccione un Rol</option>
          <option *ngFor="let rol of RolList" [value]="rol.id">{{ rol.name }}</option>
        </select>
  
        <label for="userid">Usuario:</label>
        <select id="userid" formControlName="userid" class="form-input">
          <option [ngValue]="null" disabled selected>Seleccione un Usuario</option>
          <option *ngFor="let usuario of UserList" [value]="usuario.id">{{ usuario.username }}</option>
        </select>

        <div class="form-group checkbox-group">
            <label for="active">Activo:</label>
            <input type="checkbox" id="active" formControlName="active" />
        </div>

        <button type="submit" class="btn-submit" [disabled]="RolUserForm.invalid || isLoading">
          {{ editIndex === null ? 'Crear' : 'Actualizar' }}
        </button>
      </form>
    </div>
  
    <!-- Tabla de clientes -->
    <table class="table">
      <thead>
        <tr>
          <th>Rol</th>
          <th>Usuario</th>
          <th>Activo</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of Rolusuarios; let i = index">
          <td>{{ user.rolname }}</td>
          <td>{{ user.username }}</td>
          <td>{{ user.active ? 'Sí' : 'No' }}</td>
          <td>
            <button (click)="editHotel(i)" class="btn-edit" [disabled]="isLoading">Editar</button>
            <button *ngIf="esAdmin" (click)="deleteHotel(user.id)" class="btn-delete" [disabled]="isLoading">Eliminar</button>
             <button (click)="deleteLogic(user.id)" class="btn btn-danger btn-sm btn-editloig">Eliminar Lógico</button>
            <!-- Botón visible solo para administradores -->
            <button *ngIf="esAdmin" (click)="recuperarEliminados(user.id)" class="btn btn-danger btn-sm btn-editloig">
              Recuperar registros eliminados
            </button>
         
          </td>
        </tr>
      </tbody>
    </table>
  </div>
